[submodule "matlab_exporter"]
	path = simbind/exporter
	url = git@github.com:swag-engineering/simulink-exporter.git
[submodule "architect"]
	path = simbind/architect
	url = git@github.com:swag-engineering/simbind-architect.git
